*, ::after, ::before {
	box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue', sans-serif;
}

/* HEADER NAVEGAÇÃO*/
.tema-page {
  background: url(../img/tema-principal-3-editada.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  z-index: 0;
}

.tema-page .container-header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: rgb(0, 0, 0, 0.2);
}

.container-header .header {
  padding: 40px 0 0 0;
  margin: 0 auto;
}

.menu-nav ul {
  display: flex;
}

.container-header .header .menu-nav ul li {
  padding: 13px 0;
}

.container-header .header .menu-nav ul li a {
  font-size: 18px;
  color: #fff;
}

.container-header .header .menu-nav li + li {
  margin-left: 30px;
}

.container-header .header .menu-nav .menu-nav-logo {
  padding: 0 30px;
}

@media screen and (min-width: 600px) {
  .tema-page .mobile-container {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .tema-page .container-header {
    display: none;
  }
}

/* Mobile styles */
.mobile-container {
  margin: auto;
  background-color: #555;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #333;
  color: #fff;
}

.active {
  background-color: #1b1b1b;
  color: white;
}

/* main */
.main h1 {
  font-family: 'Anton', sans-serif;
  font-size: 92px;
  text-align: center;
  color: #fff;
  padding: 200px 0;
  letter-spacing: 1px;
  line-height: 1.1;
  text-shadow: 2px 2px 10px #000;
}

/* Galeria */
.gallery {
  background: #1B1B1B;
}

.gallery h2 {
  font-family: 'Anton', sans-serif;
  font-size: 36px;
  color: #fff;
  text-align: center;
  padding: 60px 0 40px 0;
}

.gallery .tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
}

.gallery .tz-gallery {
  padding: 0 40px;
}

.gallery .tz-gallery .lightbox img:hover {
  transform: scale(1.05);
}

.gallery .tz-gallery img {
  border-radius: 4px;
}

.gallery .baguetteBox-button {
  background-color: transparent !important;
}

/* SOBRE */
.sobre {
  font-family: 'Anton', sans-serif;
}

.sobre .container .bio .title {
  font-size: 36px;
  color: #070603;
  text-align: center;
  padding: 60px 0 40px 0;
}

.sobre .container .avatar {
  text-align: center;
}

.sobre .container .bio {
  margin: 0 auto;
}

.sobre .container .bio .my-name {
  font-size: 24px;
  text-align: center;
  padding: 20px 0 10px 0;
  color: #070603;
}

.sobre .container .bio .my-name h3::before {
  content: url(..//img/agulha-esquerda.svg);
  padding: 15px;
  vertical-align: middle;
}

.sobre .container .bio .my-name h3::after {
  content: url(../img/agulha-direita.svg);
  padding: 15px;
  vertical-align: middle;
}

.sobre .container .bio .about-me .my-story {
  max-width: 420px;
  margin-bottom: 60px;
}


.sobre .container .bio .about-me .my-story {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.6em;
  color: #070603;
  margin: 0 auto;
}

.sobre .container .bio .about-me .my-story p::before {
  content: '';
  float: left;
  display: block;
  width: 10px;
  height: 362px;
  background: #070603;
  margin-right: 20px;
}

.sobre .container .bio .about-me .my-story {
  margin-bottom: 120px;
}

/* CONTATO */
.container-fluid {
  background: #1b1b1b;
}

.container-fluid .titulo-contato {
  font-size: 36px;
  font-family: 'Anton', sans-serif;
  color: #fff;
  text-align: center;
  padding: 60px 0 40px 0;
}

.container-location .location h3 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.container-location .location p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 20px;
}

.container-location {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-separador {
  width: 10px;
  height: 405px;
  background: #fff;
}

.location-map img {
  max-width: 100%;
  border-radius: 2px;
}

.logo img {
  width: 60px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding: 15px;
}


/* FOOTER */
.footer-bg {
  background: #fff;
}
.footer p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #070603;
  font-size: 16px;
  margin-bottom: 0;
  padding: 30px;
}



@media screen and (max-width: 1000px) {
  .content-separador {
    display: none;
  }
}

@media screen and (max-width: 870px) {
  .my-story p::before {
    content: '';
    float: left;
    display: block;
    width: 10px;
    height: 362px;
    background: #070603;
    margin-right: 10px;
  }
  .avatar {
    margin-bottom: 15px;
  }
  .container-location {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .location-map img {
    margin-top: 20px;
  }
  .location p {
    line-height: 1.em;
  }
  .logo {
    margin-top: 20px;
  }
  .footer p {
    font-size: 12px;
    padding: 14px;
  }
}




@media screen and (max-width: 800px) {
  .tema-page .main h1 {
    font-size: 64px;
  }
}


@media screen and (max-width: 300px) {
  .tema-page .main h1 {
    font-size: 46px;
  }
  .gallery h2 {
    font-size: 24px;
    padding: 30px 0 20px 0;
  }
  .gallery .tz-gallery {
    padding: 0 20px;
  }
  .sobre .container .bio .title {
    font-size: 24px;
    padding: 30px 0 20px 0;
  }
  .sobre .container .bio .my-name {
    font-size: 18px;
  }
  .sobre .container .bio .about-me .my-story {
    font-size: 14px;
    margin-bottom: 60px;
  }
  .container-fluid .titulo-contato {
    font-size: 24px;
    padding: 30px 0 20px 0;
  }
  .container-fluid .container-location .location h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .container-fluid .container-location .location p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .footer p {
    font-size: 10px;
  }
}


